### titanic data에서 sex 변수에 대한 분할표를 생성하고 아래의 가설에 대한 적합도 검정을 수행하시오

In [ ]:
#귀무가설 : 전체 응답자 중 남자의 비율이 50 여자의 비율이 50이다
#대립가설 : 여자와 남자의 비율이 50:50이라고 할수없다

In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv("titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [31]:
table = df[["sex"]].value_counts()

table

sex
male      577
female    314
dtype: int64

In [5]:
df["sex"].shape[0]/2

445.5

In [13]:
# 적합도 검정수행
from scipy.stats import chisquare

chi = chisquare(table, f_exp = [445.5,445.5])
print(chi) # 5:5 가 아니다

Power_divergenceResult(statistic=77.63075196408529, pvalue=1.2422095313910336e-18)

### 독립성 검정

In [ ]:
# titanic 데이터에서 class 와 survived 가 서로 독립인지 확인하기 위해 분할표를
# 아래가설에 대한 독립성 검정을 수행하라

# 귀무가설 : class 와 Survived 는 독립이다
# 대립가설 : class 와 Survived는 독립이 아니다

In [20]:
# 변수의 분할표 생성

table = pd.crosstab(index = [df["class"]], columns = [df["survived"]])
table

survived    0    1
class
First      80  136
Second     97   87
Third     372  119

In [ ]:
# 카이제곱 검정을 통한 독립성 검정수행

In [27]:
from scipy.stats import chi2_contingency

chi, p, df, expect = chi2_contingency(table)

print("Statistic", chi); print("p_value", p); print("df", df); print("expect", expect)

# 좌석 등급과 생존은 독립이 아니라고 할수있다

Statistic 102.88898875696056
p_value 4.549251711298793e-23
df 2
expect [[133.09090909  82.90909091]
 [113.37373737  70.62626263]
 [302.53535354 188.46464646]]